<!DOCTYPE html>
<html lang="en">

<body>

  <div th:fragment="class_filter_modal"  class="modal-content">
    <style>
        @media only screen and (min-width: 601px) {
            .comp_action {
                font-size: 4rem;
            }
            .comp_action_text {
            font-size: 3vw;
        }
        }
    </style>
    <div id="class_select_modal" class="modal">
      <div class="modal-content yellow black-text">
        <div class="row center-align" style="margin-bottom: 10px;">
          <div class="col s12"><h4 class="heading">Class Select</h4></div>
        </div>

        <div class="row">
          <div th:each="pilotClass : ${pilotClasses}" class="col s6 m6 l6" style="margin-bottom: 10px">
              <a class="col s5 btn orange darken-1 waves-effect waves-light" style="width: 100%" 
                  th:id="${pilotClass}" th:href="'/pilot-list-global?classFilter='+${pilotClass}">
                  <span th:text="${pilotClass}" th:remove="tag"></span>
              </a>
          </div>
        </div>

        <div class="row" style="margin-bottom: 10px;">
          <a class="col s6 offset-s3 btn orange darken-1 waves-effect waves-light" id="global" href="/pilot-list-global" onclick="resetfilter()">Global List</a>
        </div>
    </div>
  </div>

  <!--JavaScript at end of body for optimized loading-->
  <script src="materialize/js/materialize.js"></script>
  <script lang="javascript">
    //On page load, capture the classFilter query parameter and store it in localStorage for the judge page to use
    document.addEventListener("DOMContentLoaded", function () {
        // Function to get query parameter from URL
        function getQueryParam(param) {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(param);
        }

        // Retrieve classFilter from URL
        let classFilter = getQueryParam("classFilter");
        if (!classFilter) { //check localStorage
          classFilter = localStorage.getItem("classFilter")
          if (classFilter) {
            //apply filter
            window.location.replace("/pilot-list-global?classFilter=" + classFilter);
          }
        }

        // Store classFilter in localStorage for judge page to use
        if (classFilter) {
          localStorage.setItem("classFilter", classFilter);
        } else {
          resetfilter();
        }
    });

    function resetfilter() {
      localStorage.removeItem("classFilter");
    }

  </script>
</body>
</html>