<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Starter Template - Materialize</title>
  <style>
    .carousel{
height: 100vh;
}
@font-face {
font-family: digitalFont;
src: url(font/digital-7.ttf);
}
</style>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="materialize/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body style="height: 110vh !important;">


  <div class="carousel carousel-slider center" >


    <div th:each="pilot,iterStat : ${pilots}" class="carousel-item blue white-text" th:href="@{/judge(pilot_id=${pilot.primary_id})}">
      <h2 th:text="${pilot.name}" >First Panel</h2>
      <a class="waves-effect waves-light btn orange" th:href="@{/judge(pilot_id=${pilot.primary_id})}"><i class="material-icons right">flight_takeoff</i>Judge</a>
    </div>
    
  </div>






  <!--  Scripts-->
  <script src="jquery-3.6.4.min.js"></script>
  <script src="materialize/js/materialize.js"></script>
  <script>
    // Or with jQuery
    var windowHeight = window.innerHeight;
    $('.carousel.carousel-slider').carousel({
      fullWidth: true,
      indicators: false
    }).height(windowHeight);
  </script>

</body>

</html>