<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Starter Template - Materialize</title>
    <style>
        .carousel {
            height: 100vh;
        }

        .indicators {
            visibility: hidden;
        }

        .figure-wrapper svg path {
            fill: rgb(6, 223, 252) !important;
        }

        .figure-wrapper svg text {
            fill: green !important;
        }

        @font-face {
            font-family: digitalFont;
            src: url(font/digital-7.ttf);
        }
    </style>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="materialize/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />

</head>

<body style="height: 100vh !important;">



    <div class="carousel carousel-slider center">
        <div class="carousel-fixed-item center">
            <a class="btn waves-effect white grey-text darken-text-2" onclick="removeScore(0.5);" id="btnremovehalf">-0.5</a>
            <a class="btn waves-effect white grey-text darken-text-2" onclick="setScore(0);" id="btnsetzero">0</a>
            <a class="btn waves-effect white grey-text darken-text-2" onclick="addScore(0.5);" id="btnaddhalf">+0.5</a>
            <a class="btn waves-effect white grey-text darken-text-2" onclick="setScore(-1);" id="btnsetbreak">Break</a>
            <a class="btn waves-effect white grey-text darken-text-2" onclick="setScore(-2);" id="btnsetno">N/O</a>
            <a class="btn waves-effect white grey-text darken-text-2" onclick="textToSpeech();" id="btnspeak">speak</a>
            <a class="btn waves-effect white grey-text darken-text-2" onclick="carouselNext();" id="btnnext">next</a>
        </div>

        <div th:each="maneuver,iterStat : ${maneuvers}" class="carousel-item blue white-text" href="#one!">
            <p class="" style="line-height: 50%; font-weight: 500;">Pilot: <span th:text="${pilot.name}"></span> </p>
            <p class="" style="line-height: 50%; font-weight: 500;">Round <span
                    th:text="${pilotScores.activeRound}"></span> Seq <span
                    th:text="${pilotScores.activeSequence}"></span> </p>
            <p class="" style="line-height: 50%; font-weight: 500;">Fig <span th:text="${iterStat.index + 1}"></span>
                <span th:text="${roundType}"></span>
            </p>
            <h1 style="font-family: digitalFont; font-size: 20vh; line-height: 10vh;  "
                th:id="'score_'+ ${iterStat.index}">10.0</h1>
            <img id="my-svg" style="max-width: 80vw; max-height: 30vh;" class="figure-wrapper"
                th:if="${iterStat.index < 10}"
                th:src="@{/man/known/{class}/{index}.svg(class=${pilot.getClassString().toLowerCase()}, index=${iterStat.index})}">
            <h2 th:text="${maneuver.description}" style="line-height: 1rem ; margin: 1rem ;"
                th:id="'description_'+ ${iterStat.index}">First Panel</h2>
        </div>

    </div>




    <!--  Scripts-->
    <script src="jquery-3.6.4.min.js"></script>
    <script src="materialize/js/materialize.js"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        // Or with jQuery
        var score_index = 0;
        var windowHeight = window.innerHeight;
        const scores = [];
        const numOfManeuvers = /*[[${numOfManeuvers}]]*/ ;
        const round =  /*[[${pilotScores.activeRound}]]*/ ;
        const sequence =  /*[[${pilotScores.activeSequence}]]*/ ;
        const primary_id =  /*[[${pilot.primary_id}]]*/ ;
        const pilot_name =  /*[[${pilot.name}]]*/ ;
        const roundType =  /*[[${roundType}]]*/ ;
        const sequenceJson = JSON.parse( /*[[${sequencesjson}]]*/);


        const welcome_text = 'Now judging ' + pilot_name + ' round ' + round + ' sequence ' + sequence
        const synth = window.speechSynthesis;
        const voices = synth.getVoices();

        function setVirtualButtonVisibility(btnremovehalf, btnaddhalf) {
            if (btnremovehalf) {
                $('#btnremovehalf').removeAttr('disabled');
            } else {
                $('#btnremovehalf').attr('disabled', 'disabled');
            }
            if (btnaddhalf) {
                $('#btnaddhalf').removeAttr('disabled');
            } else {
                $('#btnaddhalf').attr('disabled', 'disabled');
            }
        }

        function updateVirtualButtons(index) {
            var scoring = sequenceJson[index].scoring;
            console.log(sequenceJson[index].scoring);
            if (scoring == "HALF") {
                setVirtualButtonVisibility(true, true);
            } else {
                setVirtualButtonVisibility(false, false);
            }
        }

        function textToSpeech() {
            var description_id = "#description_" + score_index;
            var description_text = $(description_id).text();
            const msg = new SpeechSynthesisUtterance();
            msg.text = description_text;
            synth.speak(msg);
        }

        function textToSpeechCustomMessage(text) {
            const msg = new SpeechSynthesisUtterance();
            msg.text = text;
            synth.speak(msg);
        }
        update_index = function () {
            var activeIndicator = this.$indicators.find('.indicator-item.active');
            i = activeIndicator.index();
            score_index = i;
            console.log(score_index)
            scores[score_index] = getCurrentScore(score_index);
            updateVirtualButtons(score_index);
        }

        function getCurrentScore(index) {
            score_id = "#score_" + index
            var score_text = $(score_id).text();
            if (score_text == 'BREAK') {
                return parseFloat(-1);
            }
            if (score_text == 'N/O') {
                return parseFloat(-2);
            }
            return parseFloat($(score_id).text());
        }

        var car = $('.carousel.carousel-slider').carousel({
            fullWidth: true,
            indicators: true,
            noWrap: true,
            onCycleTo: update_index
        });
        car.height(windowHeight);
        textToSpeechCustomMessage(welcome_text);


        function carouselNext() {
            $('.carousel').carousel('next');
            if (score_index == (numOfManeuvers - 1)) {
                submitScores();
            }
        }
        function submitScores() {
            for (i in scores) {
                console.log(scores[i]);
                if (scores[i] == null) {
                    scores[i] = 10;
                }
            }
            console.log(JSON.stringify(scores));
            var postData = {
                primary_id: primary_id,
                round: round,
                sequence: sequence,
                type: roundType,
                scores: scores
            }
            $.ajax({
                type: "POST",
                url: "/api/score",
                data: JSON.stringify(postData),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    nextEvent(data);
                },
                failure: function (errMsg) {
                    alert(errMsg);
                }
            });
        }
        function addScore(increment) {
            if (increment == 0.5) {
                //check if scoring is half
                var scoring = sequenceJson[score_index].scoring;
                if (scoring != "HALF") {
                    return;
                }
            }
            var scoreFloat = getCurrentScore(score_index);
            scoreFloat = scoreFloat + increment
            if (scoreFloat > 10) {
                scoreFloat = 10;
            }
            if (scoreFloat < 0) {
                scoreFloat = 0;
            }
            scores[score_index] = scoreFloat
            console.log(scoreFloat)
            console.log(JSON.stringify(scores));

            score_id = "#score_" + score_index
            $(score_id).text(scoreFloat);
            textToSpeechCustomMessage(scoreFloat);

        }
        function removeScore(increment) {
            if (increment == 0.5) {
                //check if scoring is half
                var scoring = sequenceJson[score_index].scoring;
                if (scoring != "HALF") {
                    return;
                }
            }
            var scoreFloat = getCurrentScore(score_index);
            scoreFloat = scoreFloat - increment
            if (scoreFloat < 0) {
                scoreFloat = 0
            }
            scores[score_index] = scoreFloat
            console.log(scoreFloat)
            console.log(JSON.stringify(scores));
            score_id = "#score_" + score_index
            $(score_id).text(scoreFloat);
            textToSpeechCustomMessage(scoreFloat);
        }
        function setScore(score) {
            console.log("setting score to > " + score);
            var currentScore = parseFloat(score);
            scores[score_index] = currentScore;
            score_id = "#score_" + score_index
            if (currentScore == -1) {
                $(score_id).text('BREAK');
                textToSpeechCustomMessage('BREAK');
                carouselNext();
            }
            if (currentScore == -2) {
                $(score_id).text('N/O');
                textToSpeechCustomMessage('Not Observed');
                carouselNext();
            }
            if (currentScore >= 0) {
                $(score_id).text(currentScore);
                textToSpeechCustomMessage(currentScore);
                if(currentScore == 0){
                     carouselNext();
                }
            }
            console.log(JSON.stringify(scores));
        }

        function nextEvent(responseData) {
            if (responseData.isActive) {
                if (responseData.activeRound > round) {
                    window.location.replace("/");
                }
                if (responseData.activeSequence > sequence) {
                    location.reload();
                }
            } else {
                window.location.replace("/");
            }
        }

        //add button listeners
        $(document).on("keypress", function (e) {
            // numpad 8
            if (e.which == 54) {
                addScore(0.5);
            }
            // numpad 2
            if (e.which == 50) {
                removeScore(0.5);
            }
            //numpad 5
            if (e.which == 53) {
                setScore(0);
            }
            //numpad 9
            if (e.which == 57) {
                addScore(1);
            }
             //numpad 3
             if (e.which == 51) {
                removeScore(1);
            }
            // numpad 7 
            if (e.which == 55) {
                setScore(-1);
            }
             // numpad 1
             if (e.which == 49) {
                setScore(-2);
            }
            //numpad 6
            if (e.which == 54) {
                carouselNext();
            }
             //numpad 4
             if (e.which == 52) {
                $('.carousel').carousel('prev');
            }
             //numpad 0
             if (e.which == 48) {
                textToSpeech();
            }
        });
        /*]]>*/
    </script>

</body>

</html>