<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Competition Setup</title>

  <!-- CSS  -->
  <link href="materialize/css/material_lcons.css" rel="stylesheet">
  <link href="materialize/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="materialize/css/nouislider.css" type="text/css" rel="stylesheet" />
  <style>
    .row {
      margin-bottom: 5px;
      margin-top: 5px;
    }

    p {
      margin-bottom: 0px;
      margin-top: 0px;
    }

    .heading {
      font-size: calc(2vw + 3vh) !important;
      margin-bottom: 10px;
      margin-top: 5px;
    }

    .comp_info {
      font-size: calc(1vw + 2vh) !important;
      margin-bottom: 5px;
      margin-top: 5px;
    }

    .switch label input[type=checkbox]:checked+.lever:after {
      background-color: #26a69a;
    }
    .switch label input[type=checkbox]+.lever:after {
      background-color: #26a69a;
    }
    [type="radio"]:not(:checked)+span, [type="radio"]:checked+span {
      padding-left: 25px;
    }

    @font-face {
      font-family: digitalFont;
      src: url(font/digital-7.ttf);
    }
  </style>
</head>

<body class="yellow">
  <a th:replace="~{banner::line_judge}"></a>
  <div class="section no-pad-bot yellow" id="index-banner">
    <div class="container yellow black-text">
     <div class="row hide-on-small-only">
        <div class="col s12 center-align"><h2 id="comp_name" th:text="${compName}" class="heading">Competition Name</h2></div>
      </div>
      <div class="row" hidden>
        <div class="col s12 center-align"><span>Comp Id:</span>&nbsp;<span id="comp_id" th:text="${compId}" class="light">Competition ID</span></div>
      </div>
      <div class="row">
        <div class="col s5 left"><span class="header">Sequence count</span></div>
        <div class="col s7 left"><span class="header">Sequence type</span></div>
      </div>
      <div class="row">
        <div class="col s5 left-align"><h5 class="comp_info">Known Seq / Round: <span id="seqvalue"></span></h5></div>
        <div class="col s2 center" style="width: 22%">
          <label class="black-text">
            <input class="with-gap" name="sequenceType" type="radio" value="std" id="std_seqType" checked />
            <span style="font-size: calc(1vw + 2vh) !important;">Std</span>
          </label>
          <label class="black-text">
              <input class="with-gap" name="sequenceType" type="radio" value="alt" id="alt_seqType" />
              <span style="font-size: calc(1vw + 2vh) !important;">Alt</span>
          </label></span>
        </div>
        <div class="col s4 right-align"><h5 class="comp_info">Unknown Seq / Round: <span id="unkseqvalue"></span></h5></div>
      </div>
      <div class="row">
        <div class="col s4 center"><div class="black" id="sequence-slider"></div></div>
        <div class="col s4 offset-s4 center"><div class="black" id="unknown-sequence-slider"></div></div>
      </div>
      <br>
      <div class="row">
        <div class="col s6 left-align">Scoring Mode</div>
      </div>
      <div class="row">
        <div class="col s4 switch left-align">
          <label class="black-text comp_info">
            <input class="with-gap" name="score_mode" value="global" type="radio" checked />
            <span class="comp_info">Global</span>
          </label>
        </div>
        <div class="col s4 switch left-align">
          <label class="black-text">
            <input class="with-gap" name="score_mode" value="byRound" type="radio"/>
            <span class="comp_info">Round by Round</span>
          </label>
        </div>
        <div class="col s4 switch left-align">
          <label class="black-text">
            <input class="with-gap" name="score_mode" value="flightline" type="radio"/>
            <span class="comp_info">Defined Rounds</span>
          </label>
        </div>
      </div>
      <div th:if="${isCurrentComp}" class="row">
        <div class="col s12 switch center">
          <label class="black-text">
            <span class="comp_info">New</span>
            <input type="checkbox" id="updateMode">
            <span class="lever black"></span>
            <span class="comp_info">Update</span>
          </label>
        </div>
      </div>
      <br>
      <div class="row center">
        <a href="#" id="createComp" class="waves-effect waves-light btn orange darken-1 pulse">Start</a>
      </div>
    </div>
  </div>
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">menu</i>
    </a>
    <ul>
      <li><a class="btn-floating btn-large green" href="/"><i class="material-icons">home</i></a></li>
    </ul>
  </div>


  <!--  Scripts-->
  <script src="jquery-3.6.4.min.js"></script>
  <script src="materialize/js/materialize.js"></script>
  <script src="materialize/js/nouislider.js"></script>
  <script th:inline="javascript">
    /*<![CDATA[*/
    var sequenceslider = document.getElementById('sequence-slider');
    var sequencesliderVal = document.getElementById('seqvalue');
    var unknownsequenceslider = document.getElementById('unknown-sequence-slider');
    var unksequencesliderVal = document.getElementById('unkseqvalue');
    /*var valuesForRoundSlider = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]; // 16 values */
    var valuesForSequenceSlider = [1, 2]; // 16 values
    var valuesForUnknownSequenceSlider = [0, 1, 2]; // 16 values

    const isCurrentComp = /*[[${isCurrentComp}]]*/ ;
    const currentRound = /*[[${currentRounds}]]*/ ;
    const scoreMode = /*[[${scoreMode}]]*/ ;
    const maxSeqPerRound = /*[[${maxSeqPerRound}]]*/ ;
    const maxUnknownSeqPerRound = /*[[${maxUnknownSeqPerRound}]]*/ ;
    const sequenceType = /*[[${sequenceType}]]*/ ;

    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.fixed-action-btn');
      var instances = M.FloatingActionButton.init(elems, {
        hoverEnabled: false
      });
    });

    console.log(isCurrentComp);
    console.log(currentRound);

    var seqformat = {
      to: function (value) {
        return valuesForSequenceSlider[Math.round(value)];
      },
      from: function (value) {
        return valuesForSequenceSlider.indexOf(Number(value));
      }

    };

    var unknownseqformat = {
      to: function (value) {
        return valuesForUnknownSequenceSlider[Math.round(value)];
      },
      from: function (value) {
        return valuesForUnknownSequenceSlider.indexOf(Number(value));
      }

    };

    noUiSlider.create(sequenceslider, {
      start: 2,
      // A linear range from 0 to 15 (16 values)
      range: { min: 0, max: 1 },
      // steps of 1
      step: 1,
      tooltips: true,
      format: seqformat,
     //pips: { mode: 'steps', format: seqformat },
    });
    noUiSlider.create(unknownsequenceslider, {
      start: 0,
      // A linear range from 0 to 15 (16 values)
      range: { min: 0, max: 2 },
      // steps of 1
      step: 1,
      tooltips: true,
      format: unknownseqformat,
      //pips: { mode: 'steps', format: unknownseqformat },
    });
    sequenceslider.noUiSlider.on('update', function (values, handle) {
      sequencesliderVal.innerHTML = values[handle];
    });
    unknownsequenceslider.noUiSlider.on('update', function (values, handle) {
      unksequencesliderVal.innerHTML = values[handle];
    });

    if (isCurrentComp) {
      sequenceslider.noUiSlider.set(maxSeqPerRound);
      unknownsequenceslider.noUiSlider.set(maxUnknownSeqPerRound);
      $('#updateMode').attr('checked','checked')
      $("input[name=score_mode][value=" + scoreMode + "]").prop('checked', true);
      $("input[name=sequenceType][value=" + sequenceType + "]").prop('checked', true);
    }

    $("#createComp").click(function () {
      var editComp = $('#updateMode').is(":checked");
      var sequences = sequenceslider.noUiSlider.get();
      var unknownSequences = unknownsequenceslider.noUiSlider.get();
      var scoreMode = $('input[name="score_mode"]:checked').val();
      var sequenceType = $('input[name="sequenceType"]:checked').val();
      $.ajax({
        type: "POST",
        url: "/api/comp?edit=" + editComp,
        // The key needs to match your method's input parameter (case-sensitive).
        data: JSON.stringify(
          {
            score_mode: scoreMode,
            sequences: sequences,
            unknown_sequences: unknownSequences,
            sequenceType: sequenceType
          }
        ),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (data) {
          console.log(data.result + ":" + data.message);
          compData = JSON.parse(data.comp);
          if (data.result === "ok") {
            $('#comp_name').text(compData.comp_name);
            $('#comp_id').text(compData.comp_id);
            M.toast({ html: data.message, completeCallback: function(){window.location = '/rounds'}});

          } else {
            // We got back a data.result that is not OK but we still gave a good HTTP response (1xx, 2xx, 3xx)
            M.toast({ html: 'Error: ' + data.message});
          }
        },
        error: function (errObj, ajaxStatus, thrownError) {
          // We got back a HTTP error response.
          if (typeof errObj.responseJSON != "undefined") {
            M.toast({html: 'Error: ' + errObj.responseJSON.message});
          } else {
            // We really have no idea what went wrong.   Log to console..
            console.log("Ajax Options:" + ajaxStatus)
            console.log("Thrown Error:" + thrownError)
            console.log("Error Object:" + JSON.stringify(errObj))
            M.toast({html: 'Error: Unknown error'});
          }
        }
      });
    });

    /*]]>*/
  </script>

</body>

</html>