[Unit]
Description=Chromium Kiosk
Wants=graphical.target
After=graphical.target

[Service]
Environment=DISPLAY=:0.0
Environment=XAUTHORITY=/home/judge/.Xauthority
Environment=XDG_RUNTIME_DIR=/run/user/1000
Type=simple
ExecStart=/bin/bash /var/opt/judge/bin/kiosk.sh
Restart=on-abort
User=judge
Group=judge

[Install]
WantedBy=graphical.target
